{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>User Management</h2>

    {% for u in users %}
        <div class="card">
            <strong>{{ u[1] }}</strong>

            <span>
                {% if u[2] %}
                    (Admin)
                {% else %}
                    (Normal)
                {% endif %}
            </span>

            {% if session.get("user_id") %}
                {% if u[0] != 1 %}
                    {% if session.get("user_id") != u[0] %}
                        <form method="post"
                              action="{{ '/make-normal/' ~ u[0] if u[2] else '/make-admin/' ~ u[0] }}"
                              style="display:inline;">
                            <button>
                                {{ 'Make Normal' if u[2] else 'Make Admin' }}
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

    <br>
    <a href="/admin/logs">View Audit Logs</a>
</div>

{% endblock %}

