<!DOCTYPE html>
<html>
<head>
    <title>2FA App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <a href="/">Home</a>

    {% if session.get("user_id") %}
        {% if user and user[5] == 1 %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <div class="flash">{{ msg }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>

